<ion-content>
  <div class="price">
    <ion-segment>
      <ion-segment-button value="category.id" *ngFor="let category of categories" (ionSelect)="qwe(category.id)">
        <ion-label>category.name</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-segment scrollable value="heart">
      <ion-segment-button value="home" *ngFor="let category of categories">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <!-- <ion-segment-button value="heart">
        <ion-icon name="heart"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="pin">
        <ion-icon name="pin"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="star">
        <ion-icon name="star"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="call">
        <ion-icon name="call"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="globe">
        <ion-icon name="globe"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="basket">
        <ion-icon name="basket"></ion-icon>
      </ion-segment-button> -->
    </ion-segment>

    <!-- <div class="categories">
      <h2>Прайс</h2>
      <div class="title"></div>
      <h1>Каталог</h1>
      <div class="categories-item" (click)="filtering(0)" [ngClass]="{'is-active': filter === 0}">ВСЕ</div>
      <div class="categories-item" [ngClass]="{'is-active': category.n === filter}" (click)="filtering(category.n)"
        *ngFor="let category of categories">{{category.name}}</div>
    </div>
    <div class="list">
      <div class="category" [ngClass]="{'filter-off': category.n !== filter && filter !== 0}"
        *ngFor="let category of categories">
        <h3>{{category.name}}</h3>
        <p class="category-img">
          <img src="{{category.img}}" alt="" *ngIf="category.img">
        </p>
        <div class="good-group" *ngFor="let goodGroup of category.goodGroups">
          <h4>{{goodGroup.name}}</h4>
          <hr>
          <table *ngIf="category.n !== 3">
            <thead>
              <tr>
                <td>Наименование</td>
                <td>{{goodGroup.thicknessOf}}</td>
                <td>Размер листа</td>
                <td>Площадь листа</td>
                <td>Цена</td>
                <td>
                  <ion-icon name="cart"></ion-icon>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let good of goodGroup.goods">
                <td>{{good.name}}</td>
                <td>{{good.thickness}}</td>
                <td>{{good.size}}</td>
                <td>{{good.square}}</td>
                <td>{{good.price}}</td>
                <td>
                  <div class="price-tocart">
                    <div class="price-tocart-minus" data-id="{{good.id}}" (click)="minus(good)">-</div>
                    <div class="price-tocart-value">{{good.quantity}}</div>
                    <div class="price-tocart-plus" data-id="{{good.id}}" (click)="plus(good)">+</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table *ngIf="category.n === 3">
            <thead>
              <tr>
                <td>Наименование</td>
                <td>Ширина рулона</td>
                <td>Длина рулона</td>
                <td>Цена</td>
                <td>В корзину</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let good of goodGroup.goods">
                <td>{{good.name}}</td>
                <td>{{good.width}}</td>
                <td>{{good.length}}</td>
                <td>{{good.price}}</td>
                <td>
                  <div class="price-tocart">
                    <div class="price-tocart-minus" data-id="{{good.id}}" (click)="minus(good)">-</div>
                    <div class="price-tocart-value">{{good.quantity}}</div>
                    <div class="price-tocart-plus" data-id="{{good.id}}" (click)="plus(good)">+</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </div>
</ion-content>