<ion-content>
  <div class="price">
    <div class="categories">
      <!-- <h2>Прайс</h2> -->
      <div class="title"></div>
      <div class="categories-item" (click)="filtering(0)" [ngClass]="{'is-active': filter === 0}">ВСЕ</div>
      <div class="categories-item" [ngClass]="{'is-active': category.n === filter}" (click)="filtering(category.n)" *ngFor="let category of categories">{{category.name}}</div>
    </div>
    <div class="list">
      <div class="category" [ngClass]="{'filter-off': category.n !== filter && filter !== 0}" *ngFor="let category of categories">
        <h3>{{category.name}}</h3>
        <div class="good-group" *ngFor="let goodGroup of category.goodGroups">
          <h4>{{goodGroup.name}}</h4>
          <hr>
          <table *ngIf="category.n !== 3">
            <thead>
              <tr>
                <td>Наименование</td>
                <td>{{goodGroup.thicknessOf}}</td>
                <td>Размер листа</td>
                <td>Площадь листа</td>
                <td>Цена</td>
                <td>В корзину</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let good of goodGroup.goods">
                <td>{{good.name}}</td>
                <td>{{good.thickness}}</td>
                <td>{{good.size}}</td>
                <td>{{good.square}}</td>
                <td>{{good.price}}</td>
                <td>| + |||| - |</td>
              </tr>
            </tbody>
          </table>
          <table *ngIf="category.n === 3">
            <thead>
              <tr>
                <td>Наименование</td>
                <td>Ширина рулона</td>
                <td>Длина рулона</td>
                <td>Цена</td>
                <td>В корзину</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let good of goodGroup.goods">
                <td>{{good.name}}</td>
                <td>{{good.width}}</td>
                <td>{{good.length}}</td>
                <td>{{good.price}}</td>
                <td>| + |||| - |</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ion-content>