<!-- <div> -->
<ion-segment *ngIf="categoryN" scrollable value="{{categoryN}}" text-center>
  <ion-segment-button value="1" [routerLink]="['/catalog/1']">
    <!-- <div class="category-icon vibro"></div> -->
    <ion-icon name="alarm"></ion-icon>
    <p>Вибропоглощающие материалы</p>
    <!-- <ion-icon name="home"></ion-icon> -->
  </ion-segment-button>
  <ion-segment-button value="2" [routerLink]="['/catalog/2']">
    <ion-icon name="heart"></ion-icon>
    <p>Шумоизоляция, теплоизоляция, шумо-теплоизолирующие материалы</p>
  </ion-segment-button>
  <ion-segment-button value="3" [routerLink]="['/catalog/3']">
    <ion-icon name="pin"></ion-icon>
    <p>Антискрипскрипные материалы</p>
  </ion-segment-button>
</ion-segment>
<!-- </div> -->