* {
    --item-padding: 10px;
    --item-font: 16px;
    --item-border-width: 4px;
}

@media (max-width: 1023px) {
    * {
        --item-padding: 5px;
        --item-font: 11px;
        --item-border-width: 2px;
        --padding-top: 0;
    }
}

.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .item {
        border-bottom: solid var(--item-border-width) transparent;
        padding: var(--item-padding);
        text-align: center;
        margin: 0 5px;
        cursor: pointer;
        transition: .5s;
        font-size: var(--item-font);

        &.active {
            border-bottom-color: var(--ion-color-primary);
            color: var(--ion-color-primary);
        }
    }
}

// ion-segment {
//     z-index: 100;

//     &-button {
//         max-width: unset;
//     }
// }

