.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 13px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, .9);
    z-index: 10;

    &-item {
        padding: 13px;
        margin: 0 5px;
        cursor: pointer;
        font-weight: 600;
        line-height: 1;
        transition: .7s;

        &.active {
            background-color: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
            border-radius: 3px;
        }
    }
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10vh 0;
    background-color: rgba(0, 0, 0, .85);
    z-index: 11;

    &-item {
        padding: 13px;
        cursor: pointer;
        font-weight: 600;
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, .8);

        &.active {
            background-color: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
        }
    }

    &-close {
        position: absolute;
        bottom: 0;
        text-align: center;
        background-color: rgba(var(--ion-color-danger-rgb), .2);
        color: var(--ion-color-danger-shade);
        text-shadow: 0 0 1px rgba(0, 0, 0, .8);
        width: 100%;
        padding: 10px;
        font-weight: 600;
    }
}

.menu-btn-wrap {
    position: fixed;
    width: 100%;
    z-index: 10;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transform: translateY(60vh);
    // opacity: 1;
}

.menu-btn {
    --background: rgba(var(--ion-color-primary-contrast-rgb), 0.5);
    // --border-radius: 0;
    // --border-color: var(--ion-color-primary);
    // --color: var(--ion-color-primary);
    // --border-style: solid;
    --border-width: 1px;
    --transition: .5s;
    // --background-hover: rgba(var(--ion-color-primary-rgb), 0.5);
    // --color-hover: white;
    font-weight: 600;
    box-shadow: inset 0 0 10px 0 rgba(255,255,255,.4), 0 0 10px 0 rgba(255,255,255,.4);
    text-shadow: 0 0 1px white;
}

.menu-mobile-btn-wrap {
    display: none;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 10px;
    cursor: pointer;

    ion-icon {
        font-size: 40px;
        color: var(--ion-color-primary);
    }

    .counter {
        position: fixed;
        color: var(--ion-color-secondary);
        font-size: 13px;
        right: 5px;
        top: 5px;
        font-weight: 600;
        width: 25px;
        height: 25px;
        // padding: 4px;
        line-height: 1;
        border-radius: 50%;
        // transform: translate(-20px, -10px);
        background-color: rgba(255, 255, 255, .7);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
        // text-shadow: 1px -1px 0px var(--ion-color-secondary), -1px 1px 0px var(--ion-color-secondary), 1px 1px 0px var(--ion-color-secondary), -1px -1px 0px var(--ion-color-secondary);
    }
}

// @media (max-width: 1023px) {
// }

@media (orientation: portrait),
(max-width: 1023px) {
    .menu {
        display: none;
    }
    
    .menu-mobile {
        display: flex;
    }
    
    .menu-mobile-btn-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, .7);
        z-index: 10;
    }

    .cart {
        ion-icon {
            font-size: 25px;
            color: var(--ion-color-primary);
        }

        .counter {
            font-size: 16px;
            transform: translate(-10px, -5px);
        }
    }
}

.menu-first {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kurale', serif;
    font-size: 20px;
    color: var(--ion-color-secondary);
    padding: 0 20px;

    &-item {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 900;
    }
}

.first-btns {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 10px;

    &-item {
        border: dotted 1px var(--ion-color-secondary);
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        margin: 10px;
        font-weight: 900;
        color: var(--ion-color-secondary);
        background-color: rgba(0,0,0,0.2);
        // box-shadow: 0 0 10px 0 rgba(255,255,255,.7);
    }
}