<div class="menu" @menuAnimation *ngIf="!isFirst">
  <div class="menu-item" *ngFor="let menuItem of menu" [routerLink]="[menuItem.href]" routerLinkActive="active">
    {{menuItem.title}}
  </div>
</div>

<div class="menu-mobile" *ngIf="isVisibleMobileMenu" [@menuMobileAnimation]="isVisibleMobileMenu">
  <div class="menu-mobile-item" *ngFor="let menuItem of menu" [routerLink]="[menuItem.href]" routerLinkActive="active"
    (click)="hideMenu()">
    {{menuItem.title}}
  </div>
  <div class="menu-mobile-close" (click)="hideMenu()">
    Закрыть <ion-icon name="close" size="small"></ion-icon>
  </div>
</div>

<div class="menu-btn-wrap" @menuBtnMobileAnimation *ngIf="isFirst">
  <ion-button fill="solid" color="primary" size="large" class="menu-btn" (click)="showMenu()">
    <ion-icon slot="icon-only" name="menu"></ion-icon>
    меню
  </ion-button>
</div>

<!-- <div class="first-btns" *ngIf="isFirst" @inOutAnimation>
  <div class="first-btns-item" [routerLink]="['/catalog']">Каталог</div>
  <div class="first-btns-item" (click)="call()">
    <ion-icon name="call"></ion-icon>
    8-800-800-80-80
  </div>
  <div class="first-btns-item" (click)="send()">
    <ion-icon name="mail-open"></ion-icon>
    info@vikar-auto.ru
  </div>
</div> -->

<div class="menu-mobile-btn-wrap" @menuAnimation *ngIf="!isFirst">
  <ion-icon size="large" slot="icon-only" name="menu" color="primary" (click)="showMenu()"></ion-icon>
</div>

<div class="cart" [routerLink]="['/cart']">
  <ion-icon name="cart"></ion-icon>
  <span class="counter">{{cart?.value.length}}</span>
</div>