.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    &>* {
        flex-basis: 90%;
        text-align: center;
        padding: 10px;
        margin: 0;
    }

    h4 {
        text-decoration: underline dotted var(--ion-color-secondary);
        color: var(--ion-color-secondary);
        cursor: pointer;
    }

    img {
        flex-basis: unset;
    }
}
.images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &-item {
        width: 100px;
        height: 100px;
        background-position: center center;
        background-size: cover;
        border-radius: 7px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.25);
        margin: 3px;
        cursor: pointer;
    }
}
.close {
    position: fixed;
    top: 20px;
    right: 20px;
}