.cog {
    position: fixed;
    top: 0;
    left: 45vw;
    width: 65vw;
    height: 65vw;
    background-image: url('/assets/icon/cog.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(0, -30%);
    opacity: .9;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,.6));
}
ion-content {
    --padding-top: 75px;
    --padding-bottom: 50px;
    text-align: center;
    --background: transparent;
    background-size: cover;
    background-position: center center;
    h1 {
        font-size: 36px;
    }
}

ion-card {
    width: 100%;
    background-color: rgba(255, 255, 255, .85);

    .more-link {
        color: var(--ion-color-primary);
        text-decoration: underline;
        cursor: pointer;
    }
}

ion-slides {
    --bullet-background: var(--ion-color-primary);
    padding: 0 5vw;

    // ion-slide {
    // }
}

.install-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;

    &-inner {
        width: 100%;
        max-width: 800px;
        background-color: rgba(255,255,255,.85);
        border-radius: 4px;
        color: #333;
        padding: 10px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.4);

        p {
            border-top: solid 1px var(--ion-color-primary);
            border-bottom: solid 1px var(--ion-color-primary);
            padding: 10px;
        }
    }
}

.size10000 {
    display: block;
}

.size1024 {
    display: none;
}

.size650 {
    display: none;
}

@media (max-width: 1024px) {
    .size10000 {
        display: none;
    }
    
    .size1024 {
        display: block;
    }
    
    .size650 {
        display: none;
    }
}

@media (max-width: 650px) {
    .size10000 {
        display: none;
    }
    
    .size1024 {
        display: none;
    }
    
    .size650 {
        display: block;
    }
}