<ion-content>
  <h1>Установка своими руками</h1>
  <div class="install-info">
    <div class="install-info-inner">
      <h2>Подготовка автомобиля</h2>
      <p>Для проведения работ по установке шумо-вибро-тепло-изоляции автомобиля необходимо произвести полную разборку
        дверей, салона и багажника автомобиля до металла, удалить заводскую звукоизоляцию, и обезжирить все рабочие
        поверхности автомобиля ацетоном или обезжиривателем.</p>
    </div>
  </div>
  <div class="install-info">
    <div class="install-info-inner">
      <h2>Рекомендации по проклейке автомобиля</h2>
      <p>Рабочая температура должна быть не ниже 5 градусов тепла, в противном случае материал рекомендуется разогреть
        термопистолетом (профессиональным феном) или выдержать при комнатной температуре не менее суток. При монтаже
        вибропоглощающих материалов настоятельно рекомендуем применять прикаточный валик — чем лучше материал прикатан к
        кузову, тем больше эффект от его применения. Раскатывать материал необходимо от центра к краям, тщательно
        отслеживая все формы изгибов металла не допуская образования воздушных пузырей.</p>
    </div>
  </div>
  <div class="install-list">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let installItem of installItems | async">
        <ion-card>
          <ion-card-header>
            <img src="{{installItem.img}}" alt="">
            <ion-card-title>{{installItem.name}}</ion-card-title>
            <ion-card-subtitle><span class="more-link" [routerLink]="['/home/installing/' + installItem.id]" routerDirection="forward"> Подробнее... </span></ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <h1></h1>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="install-info">
    <div class="install-info-inner">
      <h2>Заключительный этап</h2>
      <p>Далее производится сборка салона автомобиля. Клипсы желательно применять новые. Весь комплекс проведенных работ
        обеспечивает надежную защиту от проникновения шумов различного происхождения в салон автомобиля, утепляет его,
        убирает возможное трение пластмассовых деталей и скрип, придает автомобильной акустике отличное, глубокое
        звучание. По своим характеристикам материалы «ВИКАР» обладают антикоррозийными свойствами и надежно защищают Ваш
        автомобиль от коррозии. Все материалы имеют сертификаты соответствия и технические заключения. Долговечность
        материалов 20 лет, согласно заключению НИИ МОССТРОЙ г. Москва.</p>
    </div>
  </div>
  <div class="as-result">

  </div>
</ion-content>