<ion-header class="ion-no-border">
  <app-category-menu [ngClass]="{zIndex: '100'}"></app-category-menu>
</ion-header>
<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <!-- <app-category [categoryN]="categoryN"></app-category> -->
  <!-- <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button *ngFor="let category of categories" [tab]="category.n">
        <ion-icon src="/assets/icon/{{icons[category.n - 1]}}"></ion-icon>
        <ion-label>{{category.name}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>