<div class="cog" #cog></div>
<ion-content [scrollEvents]="true" (ionScroll)="scrolling($event, cog)" *ngIf="installItem">
  <div class="wrap">
    <h1>{{installItem?.name}}</h1>
    <div class="wrap">
      <ion-list *ngIf="installItem?.installItemGoods.length > 0;else loading">
        <ion-list-header>
          <ion-label>Материалы</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let iiGood of installItem.installItemGoods; let last = last" lines="{{last ? 'none' : 'full'}}">
          <!-- <ion-thumbnail slot="start">
            <ion-icon name="document" size="large" color="secondary"></ion-icon>
          </ion-thumbnail> -->
          <div>
            <h5>{{iiGood.good.name}}</h5>
            <h6>{{iiGood.good.size}}</h6>
          </div>
          <ion-badge class="q" slot="end"> {{iiGood.quantity}} </ion-badge>
          <ion-label></ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="group-to-cart">
      <ion-button [ngClass]="{'group-to-cart-btn': true}" (click)="groupToCart()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        Добавить группу в корзину
      </ion-button>
    </div>
    <div class="wrap">
      <ion-list>
        <ion-list-header>
          <ion-label>Порядок проведения работ</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let work of installItem.works; let i = index; let last = last"
          lines="{{last ? 'none' : 'full'}}">
          <span> {{work}} </span>
          <ion-note color="primary" slot="start" [ngStyle]="{fontSize: '16px'}"> {{i + 1}} </ion-note>
        </ion-item>
      </ion-list>
    </div>

    <div class="wrap">
      <ion-list>
        <ion-list-header>
          <ion-label>Рекомендации</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let rec of installItem.recommendations; let i = index; let last = last"
          lines="{{last ? 'none' : 'full'}}">
          <span> {{rec}} </span>
          <ion-note color="primary" slot="start">
            <ion-icon name="information-circle-outline" [ngStyle]="{fontSize: '24px'}"></ion-icon>
          </ion-note>
        </ion-item>
      </ion-list>
    </div>

    <div class="wrap">
      <ion-list>
        <ion-list-header>
          <ion-label>Как результат</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let res of installItem.results; let i = index; let last = last"
          lines="{{last ? 'none' : 'full'}}">
          <span> {{res}} </span>
          <ion-note color="primary" slot="start">
            <ion-icon size="large" name="done-all"></ion-icon>
          </ion-note>
        </ion-item>
      </ion-list>
    </div>

    <div class="group-to-cart">
      <ion-button [ngClass]="{'group-to-cart-btn': true}" (click)="groupToCart()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        Добавить группу в корзину
      </ion-button>
    </div>
  </div>
</ion-content>

<ng-template #loading>
  <ion-progress-bar type="indeterminate" color="secondary"></ion-progress-bar>
</ng-template>